<!DOCTYPE html>
<html>
    <head>
        <title>{{ title }}</title>
        <link rel="stylesheet" type="text/css" href="/static/style.css" />
    </head>
    <body>
        <table>
            {% for row in rows %}
            <tr>
                <td>{{ row.item | get_type }}</td>
                <td>{% if row.item != 'i' %}<a href="/gopher/{{ row.item }}{{ row.selector }}">{% endif %}{{ row.text }}{% if row.item != 'i' %}</a>{% endif %}&nbsp;</td>
            </tr>
            {% endfor %}
        </table>
    </body>
</html>
